.component{

    height: 100vh;
    background-color: #957bbe;
    border-radius: .25rem;
    width: 100vw;

}

@media(min-width: 576px){
    .component{
        background-color: #003333;
        border-radius: .3rem;
        width: 576px;

    }
}

@media (min-width: 767.98px) { 
    .component{
    background-color: #330033;
    width: 767.98px;

    }
 }